
  
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section>

      <div class="main-content" style="margin-left:0">

        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content page-thin" style="margin-top: 0;">

         <div class="row">
           <div class="col-md-12" >
             <div class="panel"  style="background: url(./assets/admin/layout1/img/dkn-home-header-app.jpg); background-size:cover">
               <div class="panel-content" style="padding: 20px;">
                 <img src="./assets/admin/layout1/img/dkn-logo-header-white.png" style="height: 50px; float: right; display: block;">
                 <h1 style="color: white"><strong>IBEX 35</strong> Sentiment</h1>
                 <p style="color: white; text-align: right;"></br>We calculate the social feeling about a stock based on </br> opinions obtained from news and social networks, </br>by filtering and assessing using our deep learning algorithm.</p>
               </div>
             </div>
           </div>
         </div>

          <div class="row">

            <div>
              <div class="panel">
                <div class="panel-content widget-full widget-stock stock2">
                  <div class="tab_right">

                    <ul id="value_list" class="nav nav-tabs" style="height:400px; overflow-y: scroll">
                      <li ng-repeat="item in items" ng-if="$index == 0" class="lines-2 active">
                        <a ng-click="changedValue(item);" data-toggle="tab">
                          <div class="clearfix">
                            <span class="title pull-left">{{item.name}}</span>
                            <!--span class="pull-right">{{item.description}}</span-->
                          </div>
                          <div class="clearfix">
                            <span class="pull-left">{{item.description}}</span>
                            <!--span class="c-green pull-right">+6.214%</span-->
                          </div>
                        </a>
                      </li>
                      <li ng-repeat="item in items" ng-if="$index > 0" class="lines-2">
                        <a ng-click="changedValue(item);" data-toggle="tab">
                          <div class="clearfix">
                            <span class="title pull-left">{{item.name}}</span>
                            <!--span class="pull-right">{{item.description}}</span-->
                          </div>
                          <div class="clearfix">
                            <span class="pull-left">{{item.description}}</span>
                            <!--span class="c-green pull-right">+6.214%</span-->
                          </div>
                        </a>
                      </li>
                    </ul>

                    
                    </ul>

                    <div id="container" class="tab-content"></div>

                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="row m-t-10">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="panel">
                <div class="panel-content widget-info">
                  <div class="row">
                    <div class="left">
                      <i class="fa fa-twitter bg-blue"></i>
                    </div>
                    <div class="right">
                      <p id="numberTweets" class="number countup" data-from="0" data-to="{{numTweets}}" data-delay="2000">0</p>
                      <p class="text">Tweets</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <div class="panel no-bd bd-3 panel-stat">
                    <div class="panel-body p-10 p-b-0">

                          <div ng-if="numTweets === 0" class="panel-content widget-info">
                            <div class="row">
                              <div class="left" style="margin-top: -10px; padding-bottom: 10px;">
                                <i class="fa fa-frown-o bg-red"></i>
                              </div>
                              <div class="right">
                                <p class="text">No Tweets Found.</p>
                              </div>
                            </div>
                          </div>

                          <div ng-if="numTweets > 0" class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="4000" style="width: 100%; height: 68px">
                            <div ng-repeat="tweet in tweets">
                              <img src="{{tweet.profile_image_url}}" alt="Image Profile" height="60" width="60" class="img-circle" style="border:2px solid#4584d1; float: left">
                              <div class="stat-title" style="margin-left: 60px">
                                <p style="float: left">{{tweet.name}}</p>
                                <p style="margin-left: 10px; color: grey">{{tweet.created_at}}</p>
                              </div>
                              <a href="https://twitter.com/statuses/{{tweet.id_str}}" target="_blank" class="text" style="color:black; font-size: 12px; text-decoration: none; margin-left: 10px">{{tweet.text}}</a>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>


          </div>


          <div class="row">


            <div class="col-md-4">
              <div class="panel">
                <div class="panel-header">
                  <h3><i class="icon-list"></i> <strong>Positive</strong> News</h3>
                  <div class="control-btn">
                    <span class="pull-right badge badge-success">{{positiveresults.length}}</span>
                  </div>
                </div>

                <div class="panel-content widget-news">

                  <div ng-if="positiveresults.length === 0" class="widget-info" style="height: 400px">
                    <div class="row" style="margin-left: 50px">
                      <div class="left">
                        <i class="fa fa-frown-o bg-red"></i>
                      </div>
                      <div class="right" style="margin-top:10px;">
                        <p class="text">No News Found.</p>
                      </div>
                    </div>
                  </div>


                  <div ng-if="positiveresults.length > 0" class="withScroll" data-height="400" style="height: 400px; overflow-y: scroll">
                    <a ng-repeat="searchresult in positiveresults" href="{{searchresult.urlResult}}" class="message-item media" target="_blank">
                      <div class="media">
                        <div class="media-body">
                          <div class="pull-left p-r-10">
                            <i class="fa fa-newspaper-o pull-left"></i>
                          </div>
                          <div>
                            <small class="pull-right">{{searchresult.dataDate | date:'dd/MM/yyyy HH:mm'}}</small>
                            <h4 class="c-dark">{{searchresult.titleResult}}</h4>
                            <!--p class="f-14 c-gray">{{searchresult.urlResult}}</p-->
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel">
                <div class="panel-header">
                  <h3><i class="icon-list"></i> <strong>Neutral</strong> News</h3>
                  <div class="control-btn">
                    <span class="pull-right badge badge-primary">{{neutralresults.length}}</span>
                  </div>
                </div>
                <div class="panel-content widget-news">

                  <div ng-if="neutralresults.length === 0" class="widget-info" style="height: 400px">
                    <div class="row" style="margin-left: 50px">
                      <div class="left">
                        <i class="fa fa-frown-o bg-red"></i>
                      </div>
                      <div class="right" style="margin-top:10px;">
                        <p class="text">No News Found.</p>
                      </div>
                    </div>
                  </div>

                  <div ng-if="neutralresults.length > 0" class="withScroll" data-height="400" style="height: 400px; overflow-y: scroll">
                    <a ng-repeat="searchresult in neutralresults" href="{{searchresult.urlResult}}" class="message-item media" target="_blank">
                      <div class="media">
                        <div class="media-body">
                          <div class="pull-left p-r-10">
                            <i class="fa fa-newspaper-o pull-left"></i>
                          </div>
                          <div>
                            <small class="pull-right">{{searchresult.dataDate | date:'dd/MM/yyyy HH:mm'}}</small>
                            <h4 class="c-dark">{{searchresult.titleResult}}</h4>
                            <!--p class="f-14 c-gray">{{searchresult.urlResult}}</p-->
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="panel">
                <div class="panel-header">
                  <h3><i class="icon-list"></i> <strong>Negative</strong> News</h3>
                  <div class="control-btn">
                    <span class="pull-right badge badge-danger">{{negativeresults.length}}</span>
                  </div>
                </div>
                <div class="panel-content widget-news">

                  <div ng-if="negativeresults.length === 0" class="widget-info" style="height: 400px">
                    <div class="row" style="margin-left: 50px">
                      <div class="left">
                        <i class="fa fa-frown-o bg-red"></i>
                      </div>
                      <div class="right" style="margin-top:10px;">
                        <p class="text">No News Found.</p>
                      </div>
                    </div>
                  </div>

                  <div ng-if="negativeresults.length > 0" class="withScroll" data-height="400" style="height: 400px; overflow-y: scroll">
                    <a ng-repeat="searchresult in negativeresults" href="{{searchresult.urlResult}}" class="message-item media" target="_blank">
                      <div class="media">
                        <div class="media-body">
                          <div class="pull-left p-r-10">
                            <i class="fa fa-newspaper-o pull-left"></i>
                          </div>
                          <div>
                            <small class="pull-right">{{searchresult.dataDate | date:'dd/MM/yyyy HH:mm'}}</small>
                            <h4 class="c-dark">{{searchresult.titleResult}}</h4>
                            <!--<p class="f-14 c-gray">{{searchresult.urlResult}}</p-->
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>




          <div class="footer">
              <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">©</span> 2015 </span>
                <span>data-k-now</span>.
                <span>All rights reserved. </span>
              </p>
              <p class="pull-right sm-pull-reset">
                <span><a href="http://fg.ull.es/launchtf/que-es-launchtf/" class="m-r-10" target="_blank">♥ Made in Canary Island with Love</a></span>
              </p>
          </div>
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END MAIN CONTENT -->


    </section>

    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a> 