<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Finsenta</h1>
    <p class="lead">The data you need to know right now</p>
  </div>
</header>

<div>
  <select ng-model="selectedOption" ng-options="item as item.name for item in items" ng-change="changedValue(selectedOption)"></select>
  <pre>{{selectedItem | json}}</pre>
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div ng-repeat="tweet in tweets" class="tweet-item">

  <div class="tweet-details">
  	<p>{{tweet.user.screen_name}}</p>
  	<a href="https://twitter.com/statuses/{{tweet.id_str}}" target="_blank">
	    <p>{{tweet.text}}</p>
	</a>
  </div>
</div>

